<%- include('partials/header') %>
<div class="main-header">
    <span class="titulo">Fuentes de Ingreso</span>
    <%- include("partials/btn-nuevo") %>
</div>
<!--table-->
<div class="table-container">
    <table id="table" class="table" >
        <thead>
            <tr>
                <th>FECHA</th>
                <th>CODIGO</th>
                <th>ARTICULO</th>
                <th>UNID/MED</th>
                <th>CANT</th>
                <th>COST/UNIT</th>
                <th>COST/TOT</th>
                <th>OBSERVACION</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="tbody">
            
        </tbody>
    </table>
</div>
<script>document.querySelectorAll(".sidebar-link")[1].classList.add("selected");</script>
<script src="js/entradas.js"></script>
<script src="js/data-table.js"></script>
<%- include('partials/footer') %>